APP_ENV=development
LOG_LEVEL=INFO
ALLOWED_EMAIL_DOMAINS=spoonlabs.com,spoonlabs-partners.com
FIREBASE_PROJECT_ID=autogrowth-477909
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
CLOUD_SQL_CONN_NAME=fleet-blend-469520-n7:us-central1:yvideo-factory-db-prod
DATABASE_URL=postgresql+asyncpg://appdev:930828Krisrita%2A@127.0.0.1:5433/auto_growth
GOOGLE_SHEETS_ID=1XzfHS7jasnlQpw54-oLgJxqAltbP9b8OtnMCr8SFPPI
